@font-face {
  font-family: "Pretendard";
  src: local("/public/fonts/pretendard/Pretendard-Black.woff");
  font-weight: 900;
}
@font-face {
  font-family: "Pretendard";
  src: local("/public/fonts/pretendard/Pretendard-ExtraBold.woff");
  font-weight: 800;
}
@font-face {
  font-family: "Pretendard";
  src: local("/public/fonts/pretendard/Pretendard-Bold.woff");
  font-weight: 700;
}
@font-face {
  font-family: "Pretendard";
  src: local("/public/fonts/pretendard/Pretendard-SemiBold.woff");
  font-weight: 600;
}
@font-face {
  font-family: "Pretendard";
  src: local("/public/fonts/pretendard/Pretendard-Medium.woff");
  font-weight: 500;
}
@font-face {
  font-family: "Pretendard";
  src: local("/public/fonts/pretendard/Pretendard-Regular.woff");
  font-weight: 400;
}
@font-face {
  font-family: "Pretendard";
  src: local("/public/fonts/pretendard/Pretendard-Light.woff");
  font-weight: 300;
}
@font-face {
  font-family: "Pretendard";
  src: local("/public/fonts/pretendard/Pretendard-ExtraLight.woff");
  font-weight: 200;
}
@font-face {
  font-family: "Pretendard";
  src: local("/public/fonts/pretendard/Pretendard-Thin.woff");
  font-weight: 100;
}

html,
body {
  font-family: "Pretendard", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

:root {
  /* font */
  --logo-font: ${prompt.style.fontFamily};
  /* color */
  --theme-color: #e68c23;
  --input-placeholder: #afafaf;
  --highlighted-element: #ff8a00;
  --selected-element: #fbbc053b;
}